/* Jeg styler her min side, helt overordnet*/

html.body {
  background-color: blanchedalmond;
  font-family: Georgia, 'Times New Roman', Times, serif
  }
  /* Jeg styler her min header*/
.header {  
  display: flex;
  padding: 5px;
  }

  .head {
    width: 100%;
    height: auto;
  }

 /* Jeg styler her min overskrift/animation*/
.overskrift {
  color: rgb(199, 199, 199);
  position: absolute;
  font-size: 5vw;
  margin-inline-start: 20%;
  margin-block-start: -2%;
    animation-name: navn;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    font-family:'Times New Roman';
    }

    @keyframes navn {
    0%   {color:rgb(161, 90, 126);}
    25%  {color:rgb(182, 182, 182);}
    50%  {color:rgb(161, 90, 126);}
    75%  {color:rgb(182, 182, 182);}
    100% {color:rgb(161, 90, 126);} 
    }

     /* Jeg styler her min footer*/

.bund {
  padding: 7px 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: rgb(41, 38, 38);
  color: rgb(223, 223, 223);
  font-size: 1vw;
  font-family: Georgia;
  }

   /* Jeg styler her mine knapper*/
   /* Hvorfor har jeg valgt at lave knapper og ikke en nav bar. Det er et rigtig godt spørgsmål
   som jeg selv har svært ved at svare på. Årsagen bag er at jeg ville have min header til at se
   ud som den gør nu, jeg kan godt lave en nav bar, men jeg kan ikke style den på samme måde som 
   knapperne - dvs. at det kunne jeg ikke på det tidspunkt hvor jeg gik i gang. 
   Jeg var stædig og ville beholde mine knapper, selvom de har gjort hele denne kode proces enormt
   besværlig for mig. Jeg forstryder det meget nu, men selvom jeg stadig er glad for mine knapper*/
  
.button {
  background-color: rgb(41, 38, 38);
  color: rgb(223, 223, 223);
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid rgb(223, 223, 223);
  width: 17%;
  }
  
.button:active {
transform: translateY(4px);
  }
  
.button:hover {
  background-color: rgb(223, 223, 223);
  color: rgb(41, 38, 38);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
   /* Jeg styler her den knap, hvis side man er inde på, da den skifter farve*/
.button1 {
  background-color: rgb(41, 38, 38);
  color: rgb(223, 223, 223);
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  border: 2px solid rgb(223, 223, 223);
  width: 17%;
  }
  
.button1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
  
.button1:hover {
  background-color: rgb(223, 223, 223);
  color: rgb(41, 38, 38);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button1 {
  background-color: rgb(161, 90, 126);
  }

   /* Jeg styler her min bedsteforældre div*/

.overordnet {
  display: flex;
  padding: 5px;
  font-family: Georgia;
   }



   /* Jeg styler her et forældre div*/

.img {
 width: 50%;
  } 

   /* Jeg styler her mine børne diver, hvis forældre er .img, hvis bedsteforældre er .overordnet*/
 
.img1 {  
  float: right;
  width: 100%;
  height: auto;
  margin-top: 30px;
  }

  .ole {  
    
    width: 100%;
    height: auto;
    
    }

    .blomst {  
      
      width: 10%;
      height: auto;
     
      }

      /* Jeg styler her min forældre div*/

.ommig {
  font-size: 1.5vw;
  text-align: inherit;
  padding: 20px;  
  height: auto;
  font-family: Georgia;
  }

      /* Jeg styler her den div som jeg har lavet for meget*/

.tekst {
  width: 100%;
  margin-left: 8%;
  font-family: Georgia;
   }
   /* Jeg styler her mit børne div, hvis forældre er .ommog og tekst, hvis bedsteforældre er .overordnet*/

   .over{
     font-family: 'Times New Roman';
     font-size: 3vw;
   }

   /* Jeg bruger media screen til at gøre min hjemmeside responsiv, med media screen kan jeg ændre i størrelser
   og placering af elementer, så det passer til den skærm størrelse, som jeg ønsker dem skal passe til*/

@media screen and (max-width: 1440px) {
  .button {
    width: 14.5%;}
  .button1 {
    width: 14.5%;} 
    }
   
@media screen and (max-width: 1220px) {
   .button {
     width: 12.5%;}
   .button1 {
     width: 12.5%;} 
     }

@media screen and (max-width: 768px) {
    .button {
      width: 10%;
    height: auto;}
    .button1 {
      width: 10%; 
    height: auto;}
    }
   
@media screen and (max-width: 571px) {
    .button {
      width: 76%;
      height: auto;
      padding-left: 32px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 1px; }
    .bund {
      margin-left: 1px;
      margin-right: 1px; }
    .button1 {
      width: 76%;
      height: auto;
      padding-left: 32px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 1px; }
    .overordnet {
      flex-direction: column-reverse;}
    .tekst {
      width: 100%; }
    .img {
      width: 50%;
      margin-left: 25%; 
    margin-top: 0px;}
      }
