
html.body {
  background-color: blanchedalmond;
  }
  
  .header {  
    display: flex;
    padding: 5px;
  } 

  .head {
    width: 100%;
    height: auto;
  }

  .overskrift {
      color: rgb(199, 199, 199);
      position: absolute;
      font-size: 5vw;
      margin-inline-start: 20%;
      margin-block-start: -2%;
        animation-name: navn;
        animation-duration: 10s;
        animation-iteration-count: infinite; 
        font-family: 'Times New Roman';
  }

  @keyframes navn {
    0%   {color:rgb(161, 90, 126);}
    25%  {color:rgb(182, 182, 182);}
    50%  {color:rgb(161, 90, 126);}
    75%  {color:rgb(182, 182, 182);}
    100% {color:rgb(161, 90, 126);}
  }

  .bund {
    padding: 7px 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: rgb(41, 38, 38);
    color: rgb(223, 223, 223);
    font-size: 1vw;
   font-family: Georgia;
  }
  
  .button {
    background-color: rgb(41, 38, 38);
    color: rgb(223, 223, 223);
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid rgb(223, 223, 223);
    width: 17%;
  }

  .button:active {
    transform: translateY(4px);
  }

  .button:hover {
    background-color: rgb(223, 223, 223);
    color: rgb(41, 38, 38);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button1 {
    background-color: rgb(41, 38, 38);
    color: rgb(223, 223, 223);
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    border: 2px solid rgb(223, 223, 223);
    width: 17%;
    }
  
  .button1:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button1:hover {
    background-color: rgb(223, 223, 223);
    color: rgb(41, 38, 38);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
 
  .button1 {
    background-color: rgb(161, 90, 126);
    }

    .ko{
      width: 20%;
      height: auto;
     }

    .ho{
      width: 10%;
      height: auto;
     }

    .over{
      font-family: 'Times New Roman';
      font-size: 3vw;
    }

    .ff1{
      width: 15%;
      height: auto;
     }
     .ff{
      width: 15%;
      height: auto;
     }
    
     .lov{
      width: 15%;
      height: auto;
     }

    .img {
      width: 35%;
    }
 
    .hjem {
     
      text-align: justify;
    }

    .blomst {
      width: 10%;
      height: auto;
    }

.indhold {
  border: 10px solid rgb(41, 38, 38);
}

.ii {
  width: 260%;
}
.pp {
  width: 300%;
}

.jon {
  width: 130%;
}
.dov {
  width: 130%;
}
.hans {
  width: 330%;
}
.grete {
  width: 210%;
}



.samlet {
  display: flex;
  border: 10px solid rgb(41, 38, 38);
  flex-direction: row;
}

.grafisk {
  display: flex;
  border: 10px solid rgb(41, 38, 38);
  flex-direction: column;
}

.img2 {
  display: flex;
  flex-direction: row;
  
}

.mine {
  display: flex;
  flex-direction: row;
  width: 200%;
}
.mine1 {
  display: flex;
  flex-direction: row;
  width: 200%;
}


.programmer1 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 100%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}


.programmer2 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 100%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}

.programmer3 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 300%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}

.programmer4 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 400%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}


.programmer5 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 300%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}

.programmer6 {
  display: flex;
  color: rgb(41, 38, 38);
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  width: 100%;
  font-family: Georgia;
  border: 10px solid rgb(41, 38, 38);
}

.ani {
  
  width: 250px;
  height: 250px;
  background: url(Untitled-25-01.png) 0 0 no-repeat; 
  animation: play 5s steps(22) infinite;
}

@keyframes play {
  0% {background-positio: 0px;}
  100% {background-position: -5500px;} 
}


.ani2 {
  
  width: 250px;
  height: 250px;
  background: url(Untitled-22-01.png) 0 0 no-repeat; 
  animation: play1 5s steps(16) infinite;
}

@keyframes play1 {
  0% {background-position: 0px;}
  100% {background-position: -4000px;} 
}

  @media screen and (max-width: 1440px) {
    .button {
      width: 14.5%;}
    .button1 {
      width: 14.5%;} 
      .hjem{
        padding-right: 10px;
      }
  
      
       
  @media screen and (max-width: 1220px) {
    .button {
      width: 12.5%;}
    .button1 {
      width: 12.5%;} 
  }
      
      
  
  @media screen and (max-width: 768px) {
     .button {
       width: 10%;
      height: auto;}
     .button1 {
       width: 10%;
      height: auto; }
       .img {
         width: 33%;
       }
       .mine {
         flex-direction: row;
         width: 240%;
       }
       .mine1 {
        flex-direction: row;
        width: 240%;
      }
      .ii {
        flex-direction: column;
        width: 260%;
      }
      .pp {
        flex-direction: column;
        width: 300%;
      }
       .jon {
        flex-direction: row;
        width: 130%;
               }
               .dov {
                flex-direction: row;
                width: 130%;
                       }
                       .hans {
                        flex-direction: row;
                        width: 310%;
                               }
                               .grete {
                                flex-direction: row;
                                width: 210%;
                                       }
                                       .programmer3 {
                                         width: 500%;
                                       }
                                       .programmer4 {
                                        width: 500%;
                                      }
                                      .programmer5 {
                                        width: 500%;

                                      }
                                       
                                     
      
   
    
  @media screen and (max-width: 571px) {
     .button {
       width: 76%;
       height: auto;
       padding-left: 32px;
       padding-top: 5px;
       padding-bottom: 5px;
       margin: 1px; }
     .bund {
       margin-left: 1px;
       margin-right: 1px; }
     .button1 {
       width: 76%;
       height: auto;
       padding-left: 32px;
       padding-top: 5px;
       padding-bottom: 5px;
       margin: 1px; }
     .overordnet {
       flex-direction: column-reverse;}
     .tekst {
       width: 100%; }
    .samlet {
      flex-direction: column;}
       .img {
         width: 33%; } 
        .mine {
          width: 240%;}
        .mine1{
          width: 240%; }
       .foto {
flex-direction: row;
width: 129%;
       }
       .jon {
        flex-direction: row;
        width: 129%;
               }
               .dov {
                flex-direction: row;
                width: 129%;
                 }
                .pp {
                  width: 230%;
                       }
                       .ii {
                        width: 200%;
                             }
                       .hans {
                        flex-direction: row;
                        width: 300%;
                               }
                               .grete {
                                flex-direction: row;
                                width: 200%;
                                       }
                                       .programmer3 {
                                         width: 97%;
                                       }
                                       .programmer4 {
                                        width: 97%;
                                      }
                                      .programmer5 {
                                        width: 97%;
                                      }
                                      .programmer6 {
                                        width: 97%;
                                      }
                                    }     